@tailwind base;
@tailwind components;
@tailwind utilities;

td {
    @apply p-2;
}

tbody > tr {
    @apply hover:bg-gray-50;
}

#notif {
    @apply bg-white shadow border rounded fixed top-8 left-1/2 py-2 px-4 md:h-[42px] -translate-x-1/2 text-center;
}

.text-input {
    @apply border rounded px-3 py-2 w-2/5;
}

.btn {
    @apply bg-gray-700 hover:bg-gray-600 text-white font-semibold h-[42px] py-2 px-4 rounded;
}

.show {
    animation: show 0.5s forwards;
}

.hide {
    animation: hide 0.5s forwards;
}

@keyframes show {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes hide {
    from {opacity: 100%;}
    to {opacity: 0%;}
}

@media (min-width: 768px) {
    .options {
        @apply flex justify-center gap-1;
    }
}

@media (max-width: 767px) {
    .options {
        @apply flex flex-col justify-center gap-1;
    }
}