@tailwind base;
@tailwind components;
@tailwind utilities;

td {
    @apply p-2;
}

tbody > tr {
    @apply bg-white hover:bg-gray-50;
}

#notif {
    @apply bg-white text-indigo-900 shadow border rounded fixed top-8 left-1/2 py-2 px-4 md:h-[42px] -translate-x-1/2 text-center;
}

.content {
    @apply mx-auto px-6 md:max-w-4xl;
}

.text-input {
    @apply border rounded px-3 py-2 w-2/5;
}

.btn {
    @apply bg-white text-indigo-900 border-indigo-900 hover:bg-indigo-900 hover:text-white font-semibold h-[42px] px-4 border rounded;
}

.show {
    animation: show 0.5s forwards;
}

.hide {
    animation: hide 0.5s forwards;
}

@keyframes show {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes hide {
    from {opacity: 100%;}
    to {opacity: 0%;}
}

@media (min-width: 768px) {
    .options {
        @apply flex justify-center gap-1;
    }
}

@media (max-width: 767px) {
    .options {
        @apply flex flex-col justify-center gap-1;
    }
}